<div class="container" id='content' ng-app='MyApp' ng-controller='MainController'>		
		<!-- By: Calle & Anna 2014-03-04 -->
		
		<div class="header">
			<h1>Media Technology Course Planner</h1>
			<hr id="divider">
		</div>

        
	<div class="row">

		<div class="col-md-12" id="welcomePage">
			<h1> Welcome to My Academic Year </h1>
			<h3> Here you will be able to plan your coming academic year at KTH </h1>
			<select>
		 		<option value="" disabled selected>Select master</option>
			 	<option value="interactive">Interactive Media Technology</option>
			 	<option value="hci">Human Computer Interaction</option>
			 	<option value="mediamanagement">Media Management</option>
			</select>
			<br/>
			<button type="button" class="btn btn-success">Move On</button>
		
		
		</div>
	</div>
		<!-- HÄR SLUTAR CONTAINER-->
</div>