<div class="container" id='content' ng-app='MyApp' ng-controller='MainController'>		
		<!-- By: Calle & Anna 2014-03-04 -->
		
		<div class="header">
			<h1>Media Technology Course Planner</h1>
			<hr id="divider">
		</div>

		{{selectedMaster.id}}
		
<!--
		<input type='text' ng-model='inputValue' />
		{{inputValue}}
-->
		<div class="col-md-12">
			<ul id="summary">
				<li><strong>Total credits: </strong>{{totalCredits}}</li>
				<li><strong>Advanced credits: </strong></li>
				<li><strong>Credits from your track: </strong></li>
			<ul>
		</div>

		<div class="col-md-12" ng-controller="progressController">
			<progressbar max="max" value="dynamic"><span style="color:black; white-space:nowrap;">{{totalCredits}} / {{max}}</span></progressbar>
		</div>
		
        
		<div class="col-md-7" id="left">

			<div class="col-md-10">
				<h3>Period 1</h3>
			</div>



			<div class="col-md-10 period" id="period1" ng-controller="periodOneController">
	     	   	<table class="table">
	        		<tr ng-repeat="course in selectedCourses | filter: {period:'1'}">
	        			<td>{{course.title}}</td>
	        			<td>{{course.credits}}</td>
	        			<td>{{course.level}}</td>
	        			<td><input type="Button" value="Delete" ng-click="remove($index, course)" /></td>
	        		</tr>
	        	</table>
				<p class="bottom">Credits:</p>
			</div>
			
			
			<div class="col-md-10">
				<h3>Period 2</h3>
			</div>
			
			
			
			<div class="col-md-10 period" id="period2">
				<table class="table">
	        		<tr ng-repeat="course in selectedCourses | filter: {period:'2'}">
	        			<td>{{course.title}}</td>
	        			<td>{{course.credits}}</td>
	        			<td>{{course.level}}</td>
	        			<td><input type="Button" value="Delete" ng-click="remove($index, course)" /></td>
	        		</tr>
	        	</table>
				<p class="bottom">Credits: </p>
			</div>
	
			
			<div class="col-md-10">
				<h3>Period 3</h3>
			</div>

			<div class="col-md-10 period" id="period3">
	     	   	<table class="table">
	        		<tr ng-repeat="course in selectedCourses | filter: {period:'3'}">
	        			<td>{{course.title}}</td>
	        			<td>{{course.credits}}</td>
	        			<td>{{course.level}}</td>
	        			<td><input type="Button" value="Delete" ng-click="remove($index, course)" /></td>
	        		</tr>
	        	</table>
				<p class="bottom">Credits: </p>
			</div>
			
			<div class="col-md-10">
				<h3>Period 4</h3>
			</div>

			
			<div class="col-md-10 period" id="period4">
	     	   	<table class="table">
	        		<tr ng-repeat="course in selectedCourses | filter: {period:'4'}">
	        			<td>{{course.title}}</td>
	        			<td>{{course.credits}}</td>
	        			<td>{{course.level}}</td>
	        			<td><input type="Button" value="Delete" ng-click="remove($index, course)" /></td>
	        		</tr>
	        	</table>

				<p class="bottom">Credits: </p>
			</div>


<!--
		
			<div class="col-md-10" id="csn">
				<h3>CSN disapproves. Keep on editing.</h3>
			</div>
-->
		</div>

		<div class="col-md-5" id="right">
<!--
			<div class="col-md-12  bg-info text-info" id="info">
				<span class="glyphicon glyphicon-info-sign"></span>
				<p>Drag and drop the courses you would like to take into their respective period to create your academic year.</p>
			</div>
-->
					
			<!-- By: Calle and Anna 2014-03-10 -->
			<div class="col-md-12" id="courses">
				<input type='text' ng-model='searchText' placeholder='Search...' />
				
				<select ng-model='selectedMaster'  
						ng-init="selectedMaster=masters[masters.indexOf(selectedMaster)]" 
						ng-options='obj.title for obj in masters'>
				</select>
				
				<select ng-model='selectedTrack' 
						ng-options='obj.trackCode for obj in masters[masters.indexOf(selectedMaster)].specialisation'>
				</select>


				<!-- we populate the drop down with the current tracks. -->
				{{selectedMaster.name}}
				{{selectedTrack.title}}
				
				<table class="table table-striped">
					<tr>
						<th>Course name</th>
						<th>Credits</th>
						<th>Level</th>
						<th>Period</th>
						<th></th>
					</tr>
		        	<tr ng-repeat="course in selectedTrack.trackCourses | filter:searchText">
		        		<td>{{course.title}}</td>
		        		<td>{{course.credits}}</td>
		        		<td>{{course.level}}</td>
		        		<td>{{course.period}}</td>
		        		<td><input type="button" value="Add" ng-click="add(course)" /></td>
		        	</tr>
				</table>

			<!--
				<option ng-repeat='label in people[selectedPerson.id].music'>{{label}}</option>

				<input type='text' ng-model='newCourse' />
				<button ng-click='addNew()'>Add</button>
			-->
        	
			</div>	<!-- /courses -->
		</div>	<!-- /right -->
</div>	<!-- /container-->


