<div class="container" id='content' ng-app='MyApp' ng-controller='MainController'>	
	<!-- By: Calle & Anna 2014-03-04 -->
	<div class="col-md-12">
		<h3><a id="header" href="index.html">My Academic Year</a></h3>
	</div>

	<div class="col-md-12" id="creditsOverview">
		<div class="col-md-12" ng-controller="CreditsMenuController">
			<ul id="summary">
				<li><strong>Total credits: </strong>{{totalCredits}}</li>
				<li><strong>Advanced credits: </strong>{{advancedCredits}}</li>
			</ul>
		</div>
		
		
		<div class="col-md-12" ng-controller="ProgressBarController">
			<progressbar max="max" value="totalCredits">
				<span style="color:black; white-space:nowrap;">{{totalCredits}} / {{max}}</span>
			</progressbar>
		</div>
	</div>
    
	<div class="col-md-7" id="left" ng-controller="PeriodController">
		<div ng-controller="AlertController">
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
				{{alert.msg}}
				<span class="pull-right glyphicon glyphicon-remove" id="alert" ng-click="closeAlert($index)"></span>
			</alert>
			
		</div>
		
		
		<div ng-controller="SemesterController">
			<tabset vertical="false" type="navType">
				<tab heading="Fall semester">
					<hr />
					<div class="panel panel-info" id="period1" data-drop="true" ng-model="p1List" jqyoui-droppable="{multiple:true, onOver: 'overCallback'}" data-jqyoui-options="acceptP1">
						<div class="panel-heading">Period 1</div>
			
						<div class="panel-body">
				     	   	<table class="table">
				     	   	
				     	   	<!-- INNAN: ng-repeat på selectedCourses, måste skapa upp listor i modellen (JOHAN)-->
								<tr 
								ng-repeat="course in p1List track by $index | filter: {period:'1'}" 
								ng-show="course.title" 
								data-drag="true" 
								data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" 
								ng-model="p1List" 
								jqyoui-draggable="{index: {{$index}},animate:true}">				        			
									<td>{{course.title}}</td>
				        			<td>{{course.credits}}</td>
				        			<td>{{course.level}}</td>
				        			<td><input type="Button" value="Delete" ng-click="removeCourse(course)" /></td>
				        		</tr>
				        	</table>
						</div>
			        	
						<div class="panel-footer">
							<p class="text-right">Credits: {{creditsP1}}</p>
						</div>
					</div> <!-- /panel period1 -->
					
			
					<div class="panel panel-info" id="period2" data-drop="true" ng-model="p2List" jqyoui-droppable="{multiple:true, onOver: 'overCallback'}" data-jqyoui-options="acceptP2">
						<div class="panel-heading">Period 2</div>
						
						<div class="panel-body">
							<table class="table">
								<tr 
								ng-repeat="course in p2List track by $index | filter: {period:'2'}" 
								ng-show="course.title" 
								data-drag="true" 
								data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" 
								ng-model="p4List" 
								jqyoui-draggable="{index: {{$index}},animate:true}">
									<td>{{course.title}}</td>
				        			<td>{{course.credits}}</td>
				        			<td>{{course.level}}</td>
				        			<td><input type="Button" value="Delete" ng-click="removeCourse(course)" /></td>
				        		</tr>
				        	</table>
						</div>
			        	
						<div class="panel-footer">
							<p class="text-right">Credits: {{creditsP2}}</p>
						</div>
					</div> <!-- /panel period2 -->
				</tab> <!-- /tab Fall Semester -->
				
				
				<tab heading="Spring semester">
					<hr />
					<div class="panel panel-info" id="period3" data-drop="true" ng-model="p3List" jqyoui-droppable="{multiple:true, onOver: 'overCallback'}" data-jqyoui-options="acceptP3">
						<div class="panel-heading">Period 3</div>
			
						<div class="panel-body">
							<table class="table">
								<tr 
								ng-repeat="course in p3List track by $index | filter: {period:'3'}" 
								ng-show="course.title" 
								data-drag="true" 
								data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" 
								ng-model="p3List" 
								jqyoui-draggable="{index: {{$index}},animate:true}">							
									<td>{{course.title}}</td>
									<td>{{course.credits}}</td>
									<td>{{course.level}}</td>
									<td><input type="Button" value="Delete" ng-click="removeCourse(course)" /></td>
								</tr>
							</table>
						</div>

						<div class="panel-footer">
							<p class="text-right">Credits: {{creditsP3}}</p>
						</div>
					</div> <!-- /panel period3 -->
		
					<div class="panel panel-info" id="period4" data-drop="true" ng-model="p4List" jqyoui-droppable="{multiple:true, onOver: 'overCallback'}" data-jqyoui-options="acceptP4">
						<div class="panel-heading">Period 4</div>
			
						<div class="panel-body">
							<table class="table">
								<tr 
								ng-repeat="course in p4List track by $index | filter: {period:'4'}" 
								ng-show="course.title" 
								data-drag="true" 
								data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" 
								ng-model="p4List" 
								jqyoui-draggable="{index: {{$index}},animate:true}">
									<td>{{course.title}}</td>
									<td>{{course.credits}}</td>
									<td>{{course.level}}</td>
									<td><input type="Button" value="Delete" ng-click="removeCourse(course)" /></td>
								</tr>
							</table>
						</div>

						<div class="panel-footer">
							<p class="text-right">Credits: {{creditsP4}}</p>
						</div>
					</div> <!-- /panel period4 -->
				</tab> <!-- /tab Spring Semester -->
			</tabset>
		</div>	<!-- /div SemesterController -->
		

	</div> <!-- /div PeriodController -->

	<div class="col-md-5" id="right" ng-controller="CoursesController">
		
		<!-- By: Calle and Anna 2014-03-10 -->
		<div class="col-md-12" id="courses">
			<input type='text' ng-model='searchText' placeholder='Search...' />
			<!-- we populate the drop down with the masters and set the chosen master as init-value -->
			<!-- index is the index of the master in the masters list. It updates when selectedMaster updates with $scope.$watch (in the controller) -->
			
			<select ng-init="selectedMaster=masters[{{index}}]"
					ng-model='selectedMaster'  
					ng-options='obj.title for obj in masters'>
			</select>
			<!-- we populate the drop down with the current tracks. -->
			<!-- trackIndex is the index of the chosen track in the inner JSON list for the corresponding chosen master -->
			<select ng-model='selectedTrack' 
					ng-init="selectedTrack=masters[{{index}}].specialisation[{{trackIndex}}]"
					ng-options='obj.trackCode for obj in masters[index].specialisation'>
			</select>
			
			<table class="table table-striped">
				<tr>
					<th>Course name</th>
					<th>Credits</th>
					<th>Level</th>
					<th>Period</th>
					<th></th>
				</tr>
				<tr 
				id="mandatory" 
				ng-repeat="course in listMandatory | filter:searchText" 
				ng-show="course.title" 
				data-drag="true" 
				data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" 
				ng-model="listMandatory" 
				jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep', onStart: 'startCallback'}">
	        		<td><span class="glyphicon glyphicon-info-sign" tooltip="Mandatory2"> </span> {{course.title}}</td>
	        		<td>{{course.credits}}</td>
	        		<td>{{course.level}}</td>
	        		<td>{{course.period}}</td>
					<td><input type="button" value="Add" ng-click="addCourse(course)" /></td>
	        	</tr>
				<tr 
				id="trackCourse" 
				ng-repeat="course in listTracks | filter:searchText" 
				ng-show="course.title" 
				data-drag="true" 
				data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" 
				ng-model="listTracks" 
				jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep', onStart: 'startCallback'}">	        		
					<td>{{course.title}}</td>
	        		<td>{{course.credits}}</td>
	        		<td>{{course.level}}</td>
	        		<td>{{course.period}}</td>
	        		<td><input type="button" value="Add" ng-click="addCourse(course)" /></td>
	        	</tr>

			</table>    	
		</div>	<!-- /courses -->
	</div>	<!-- /right -->
</div>	<!-- /container-->


